<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0">プロフィール編集</h5>
      <div class="form-body">
        <%= form_with model:@user, local:true do |f| %>
        
          <div class="field">
            <label for="inputname">Name</label>
            <%= f.text_field :name, class:"form-control", autofocus: true, id:"inputname", placeholder:"名前" %>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
          </div>
          
          <div class="field">
            <label for="InputImage">ProfileImage</label>
            <%= f.attachment_field :profile_image, class:"form-control", placeholder:"プロフィール画像" %>
          </div>
          
          <div class="action">
            <%= f.submit "変更を保存", class:"btn btn-lg btn-block btn-info mt-4" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
